<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello Vue</title>
        <script src="https://unpkg.com/vue@next"></script>
        <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
        crossorigin="anonymous">

    </head>

    <body class="m-4">
        
        <h1>Hello Vue Loops</h1>

        <div id="app">
            
            <label for="task" class="mx-2">Please enter your to do task:</label>
            <input id="task" v-model="newTask">
            <button v-on:click="addTask" class="btn btn-dark btn-sm mx-1">Add</button> 
            <button v-on:click="clear" class="btn btn-danger btn-sm mx-1">Clear</button> 
            
            <ul>
                <li v-for="task in taskList">{{ task }}</li> 
            </ul>

        </div>

        <script>
            
            // Create app
            let app = Vue.createApp({
                data() {
                    return { // Add new blank task and a blank task list
                        newTask: '',
                        taskList:[]
                    }
                },
                methods: { 
                    addTask() { // Method to add a task
                        this.taskList.push(this.newTask)
                        this.newTask = ''
                    },
                    clear() { // Clear all tasks from list
                        this.taskList = []
                    }
                }        
            })

            app.mount('#app') // Connect app to the app div

        </script>

    </body>

</html>