<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello Vue</title>
        <script src="https://unpkg.com/vue@next"></script>
    </head>

    <body>
        
        <div id="app">

           <h1>Hello Vue Forms</h1>

           <label for="name">Please enter your name:</label>
           <input v-model="name" id="name">

           <div v-if="name">
                <p>Your name is {{ name }}</p>
                <button v-on:click="clear">Clear</button>
           </div>
            <p v-else>
                Waiting for user input
            </p>

        </div>

        <script>

            // Create app
            let app = Vue.createApp({
                data() { 
                    return { // Add empty name data
                        name: ''
                    }
                },
               methods: {
                clear() {
                    this.name = '' // Clear name
                }
               }
            })

            app.mount('#app')

        </script>

    </body>

</html>